<head lang="ru">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</head>
<body>
    <main>
        <h1 class="page-title">Слайдер</h1>
        <div class="slider-container">
            <div class="slider">
                <img src="https://amiel.club/uploads/posts/2022-03/1647550235_2-amiel-club-p-kartinki-dlya-fona-priroda-2.jpg">
                <img src="https://s9.travelask.ru/system/images/files/000/336/893/wysiwyg_jpg/makro-fotografiya.jpg">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/140-P1020281_-_Flickr_-_Laurie_Nature_Bee.jpg">
            </div>
            <button class="prev-button">&lt;</button>
            <button class="next-button">&gt</button>
        </div>
    </main>
</body>
