<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../Static/JS/about.js"></script>
</head>

<header id="header-index">
    <h1>LifeSpot - о проекте</h1>
    <p>На сайте собраны прямые трансляции из улиц разных городов мира.</p>
    <p>Все трансляции находятся в открытых источниках, в данный момент - youtube.com. </p>
    <!--SLIDER-->
    <p>Отзыв о работе сайта можно оставить здесь</p>
</header>

<!--SIDEBAR-->
<body>
<div class="reviews">
    <div class="review-button">
        <button onclick="addComment()">Оставить отзыв</button>
    </div>
</div>
</body>
<!--FOOTER-->

</html>