<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>LifeSpot</title>
        <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" defer src="../Static/JS/testing.js"></script>
    </head>
    
    <header id="header-index">
        <h1>LifeSpot - тестовая страница</h1>
        <p>Здесь можно экспериментировать с кодом</p>
        <input type="text" oninput="
         /* Обработчик ввода текста */
            " size=50%>
    </header>
    
    <!--SIDEBAR-->
    <body>
        <div>
            <button onclick="Enter()">Предложение</button>
        </div>
    </body>
    <!--FOOTER-->

</html>